/* search button style */
.b-search{
    margin-top: 30px;
    margin-left: 5%;
    background-color: white;
    width: 120px;
    border-color: rgb(9, 219, 209);
    border-radius: 10px;
    text-align: center;
    color: rgb(9, 219, 209);
    border-width: 1px;
    border-style: solid;
}
/* Add button style*/
.b-add{
    background-color: rgb(109, 192, 109);
    height: 40px;
    width: 40px;
    border: none; 
    border-radius: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 5%; /* keep margin left  */
    margin-top: 20px; /* keep margin on top */
}
/* create account style */
.b-create {
    margin-top: 20px;
    margin-left: 5%;
    background-color: rgba(41, 111, 241, 0.89);
    color: white;
    text-align: center;
    width: 150px;
    border-width: 1px 0px 0px 1px;
    box-shadow: 3px 3px 1px 1px rgb(17, 16, 83);
}